<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Untitled</title>
	</head>
	<body>
<CENTER><WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=Form1><P></P><P><WEBOBJECT NAME=Conditional3><WEBOBJECT NAME=String3></WEBOBJECT></WEBOBJECT></P><P><B><FONT SIZE=4><WEBOBJECT NAME=String1></WEBOBJECT></FONT></B></P><TABLE BORDER=2><TR><TD><B>DepartmentId</B></TD><TD><WEBOBJECT NAME=TextField1></WEBOBJECT></TD></TR><TR><TD><B>DepartmentName</B></TD><TD><WEBOBJECT NAME=TextField2></WEBOBJECT></TD></TR><TR><TD><B>DepartmentLocation</B></TD><TD><WEBOBJECT NAME=TextField3></WEBOBJECT></TD></TR></TABLE><P><WEBOBJECT NAME=SubmitButton1></WEBOBJECT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton2></WEBOBJECT></P><P></P></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Conditional2><WEBOBJECT NAME=String2></WEBOBJECT></WEBOBJECT></CENTER>
	</body>
</html>
